*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 100%; }

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.header__container {
  min-width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  box-shadow: 0 2px 15px rgba(43, 53, 84, 0.28); }
  @media only screen and (min-width: 768px) {
    .header__container {
      height: 75px;
      box-shadow: 0 2px 36px rgba(43, 53, 84, 0.28); } }
  @media only screen and (min-width: 1024px) {
    .header__container {
      max-width: 1440px;
      margin: 0 auto; } }

.header {
  /*box-shadow: 0 2px 15px rgba(43, 53, 84, 0.28);

  @media only screen and (min-width: $bp-tablet) {
    box-shadow: 0 2px 36px rgba(43, 53, 84, 0.28);
  }*/ }
  .header__menu {
    display: flex;
    align-items: center;
    margin-left: 20px; }
    @media only screen and (min-width: 768px) {
      .header__menu {
        display: none; } }
    .header__menu-button {
      border: none;
      border-radius: 0;
      background-color: #a19589;
      height: 2px;
      width: 16px; }
      .header__menu-button::before, .header__menu-button::after {
        background-color: #a19589;
        height: 2px;
        width: 16px;
        content: "";
        display: block; }
      .header__menu-button::before {
        transform: translateY(-4px); }
      .header__menu-button::after {
        transform: translateY(2px); }
    .header__menu-text {
      font-size: 16px;
      font-weight: 400;
      color: #a19589;
      text-transform: uppercase;
      margin-left: 10px; }
  .header__lang {
    display: none;
    align-items: center; }
    .header__lang-icon {
      width: 14px;
      height: 14px; }
    .header__lang-text {
      margin-left: 8px;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      color: #a19589; }
    @media only screen and (min-width: 768px) {
      .header__lang {
        display: flex;
        margin-left: 48px; } }
  .header__nav {
    display: none;
    list-style: none; }
    @media only screen and (min-width: 768px) {
      .header__nav {
        display: flex; } }
    .header__nav-item:not(:last-child) {
      margin-right: 18px; }
      @media only screen and (min-width: 1024px) {
        .header__nav-item:not(:last-child) {
          margin-right: 40px; } }
    .header__nav-link {
      text-decoration: none;
      color: #a19589; }
  .header__logo {
    width: 118px;
    height: 48px;
    display: block;
    margin-right: 4px; }
    @media only screen and (min-width: 768px) {
      .header__logo {
        width: 139px;
        height: 57px;
        margin-right: 9px; } }
