// COLOR VARIABLES
$color-blue-light: #0383ff;

$color-grey-light: #a19589; //

// FONT VARIABLES
$font-primary: "Roboto Condensed", sans-serif;

// Responsive breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: $font-primary;

  font-weight: 400;
  line-height: 1.6;
}
