// header

.header {
  /*box-shadow: 0 2px 15px rgba(43, 53, 84, 0.28);

  @media only screen and (min-width: $bp-tablet) {
    box-shadow: 0 2px 36px rgba(43, 53, 84, 0.28);
  }*/

  &__menu {
    display: flex;
    align-items: center;
    margin-left: 20px;

    @media only screen and (min-width: $bp-tablet) {
      display: none;
    }

    &-button {
      border: none;
      border-radius: 0;

      background-color: $color-grey-light;
      height: 2px;
      width: 16px;

      // margin-top: 14px;

      &::before,
      &::after {
        background-color: $color-grey-light;
        height: 2px;
        width: 16px;
        content: "";
        display: block;
      }

      &::before {
        transform: translateY(-4px);
      }
      &::after {
        transform: translateY(2px);
      }
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
      color: $color-grey-light;
      text-transform: uppercase;
      margin-left: 10px;
    }
  }

  &__lang {
    display: none;
    align-items: center;

    &-icon {
      width: 14px;
      height: 14px;
    }

    &-text {
      margin-left: 8px;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      color: $color-grey-light;
    }

    @media only screen and (min-width: $bp-tablet) {
      display: flex;
      margin-left: 48px;
    }
  }
  &__nav {
    display: none;
    list-style: none;

    @media only screen and (min-width: $bp-tablet) {
      display: flex;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 18px;

        @media only screen and (min-width: $bp-desktop) {
          margin-right: 40px;
        }
      }
    }

    &-link {
      text-decoration: none;
      color: $color-grey-light;
    }
  }

  &__logo {
    width: 118px;
    height: 48px;
    display: block;
    margin-right: 4px;

    @media only screen and (min-width: $bp-tablet) {
      width: 139px;
      height: 57px;
      margin-right: 9px;
    }
  }
}
