.header__container {
  min-width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  box-shadow: 0 2px 15px rgba(43, 53, 84, 0.28);

  @media only screen and (min-width: $bp-tablet) {
    height: 75px;
    box-shadow: 0 2px 36px rgba(43, 53, 84, 0.28);
  }

  @media only screen and (min-width: $bp-desktop) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
